.header-profile {
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 24px;
}

.header-profile .img-profile {
	background-color: orangered;
	flex-shrink: 0;
}

.header-profile button {
	flex-shrink: 0;
	height: 36px;
	width: 36px;
	border: none;
	background-color: #fff;

	transition: all 0.2s;
}

.header-profile button:hover {
	border-radius: 50%;
	background-color: #eeeeee;
}

.header-profile button:active {
	background-color: #eaeaea;
	/* transform: translate(); */
	translate: 0 -2px;
	/* scale: ; */
	/* rotate: -15deg; */
}

.profile-name {
	font-weight: 900;
	font-size: 20px;
}
